<div class="dashboard-container">
  <app-navbar></app-navbar>
  <h1>Admin Dashboard</h1>

  <div class="grid">
    <!-- Entity Cards -->
    <a
      class="dashboard-card"
      *ngFor="let key of entityKeys"
      [routerLink]="['/admin-dashboard', getEndpoint(key)]"
    >
      {{ getTitle(key) }}
    </a>
  </div>

  <div class="role-toggle">
    <button class="primary-btn" (click)="toggleRoleManager()">
      {{ showUserRoleManager ? 'Hide' : 'Manage User Roles' }}
    </button>
    <a href="assets/db.png" target="_blank">
      <button class="secondary-btn">View Database</button>
    </a>
  </div>

  <div *ngIf="showUserRoleManager" class="role-manager-panel">
    <app-user-role-manager></app-user-role-manager>
  </div>
</div>
