<div class="register-container">
  <h2>Register</h2>

  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="success">{{ successMessage }}</div>

  <app-dynamic-form
    [questions]="questions"
    (submitEvent)="onSubmit($event)">
  </app-dynamic-form>

  <div class="register-link">
    <p>
      Already have an account? 
      <a (click)="goToLogin()">Login here</a>.
    </p>
  </div>

  <div class="back-btn-container">
    <button (click)="onBack()">BACK TO HOMEPAGE</button>
  </div>
</div>
