<footer>
  <div class="footer-container">
    <div class="footer-content">

      <div class="footer-social-contact">
        <div class="social-links">
          <ul class="social-icons">
            <li><a href="https://www.facebook.com/lmsnovisad" target="_blank"><span class="fab fa-facebook fa-2x"></span></a></li>
            <li><a href="https://www.instagram.com/lmsnovisad" target="_blank"><span class="fab fa-instagram fa-2x"></span></a></li>
            <li><a href="https://www.linkedin.com/school/lmsnovisad" target="_blank"><span class="fab fa-linkedin fa-2x"></span></a></li>
            <li><a href="https://x.com/lmsnovisad" target="_blank"><span class="fab fa-x-twitter fa-2x"></span></a></li>
            <li><a href="https://www.youtube.com/@lmsnovisad" target="_blank"><span class="fab fa-youtube fa-2x"></span></a></li>
          </ul>

          <div class="contact-info">
            <h3>FOOTER FOR LOOKS ONLY</h3>
            <p>
              Trg Dositeja Obradovića 6<br>Novi Sad 21000, Serbia<br>
              <a href="tel:+381214858000">+381 21 485 8000</a><br>
              <a href="https://www.uns.ac.rs/index.php/en/campus-map" target="_blank">Campus Map</a>
            </p>
          </div>
        </div>
      </div>

      <div class="footer-links general-links">
        <ul>
          <li><span class="btn btn-primary btn-sm disabled">General</span></li>
          <li><a href="/directory">Directory</a></li>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/emergency">Emergency Info</a></li>
        </ul>
      </div>

      <div class="footer-links legal-links">
        <ul>
          <li><span>Legal</span></li>
          <li><a href="/legal/equal-opportunity">Equal Opportunity Policy</a></li>
          <li><a href="/legal/privacy">Privacy & Legal Info</a></li>
          <li><a href="/legal/human-rights">Human Rights Notice</a></li>
          <li><a href="/legal/anti-harassment">Anti-Harassment Policy</a></li>
        </ul>
      </div>

      <div class="footer-branding">
        <div>
          <a href="/">
            <img src="/assets/images/lms-logo.svg" alt="LMS Logo" width="191">
          </a>
          <p>© 2025 LMS Novi Sad</p>
        </div>
      </div>

    </div>
  </div>
</footer>
