<mat-toolbar color="primary" class="navbar">
  <div class="navbar-left">
    <a routerLink="/" class="brand mat-button">LMS</a>
    <a routerLink="/university" mat-button class="WHITE">University</a>
    <a routerLink="/faculty" mat-button class="WHITE">Faculties</a>

  </div>

  <span class="spacer"></span>
  <div class="navbar-right">
    <ng-container *ngIf="!isLoggedIn">
      <a routerLink="/login" mat-raised-button color="accent" class="WHITE">Login</a>
      <a routerLink="/register" mat-stroked-button color="accent" class="WHITE">Register</a>
    </ng-container>

    <ng-container *ngIf="isLoggedIn" >
      <a *ngIf="isAdmin" routerLink="/admin-dashboard" class="WHITE" mat-button>Admin</a>
      <a *ngIf="isStudent" routerLink="/student-dashboard" class="WHITE" mat-button>Student</a>
      <a *ngIf="isTeacher" routerLink="/teacher-dashboard" class="WHITE" mat-button>Teacher</a>
      <a *ngIf="isSa" routerLink="/sa-dashboard" class="WHITE" mat-button>SA</a>

      <button mat-button [matMenuTriggerFor]="profileMenu" class="WHITE">
        <mat-icon>account_circle</mat-icon> My Profile
      </button>
      <mat-menu #profileMenu="matMenu">
        <button routerLink="/profile" mat-menu-item>
          <mat-icon>person</mat-icon> Profile
        </button>
        <button (click)="logout()" mat-menu-item>
          <mat-icon>logout</mat-icon> Logout
        </button>
      </mat-menu>
    </ng-container>
  </div>
</mat-toolbar>
