.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1; 
  background-image: url('/assets/bg_photo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
