<div class="table-search">
  <input type="text" [(ngModel)]="searchTerm" (input)="filterTable()" placeholder="Search..." />
</div>

<ng-template #praznaTabela>
  <tbody>
    <tr>
      <td [attr.colspan]="columns.length + 1">No data to load</td>
    </tr>
  </tbody>
</ng-template>

<table>
  <thead>
    <tr>
      <th *ngFor="let column of columns">
        <button (click)="sort(column)">{{ headerFor(column) }}</button>
      </th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody *appNoData="filteredData; template: praznaTabela">
    <tr *ngFor="let row of filteredData">
      <td *ngFor="let column of columns">
        {{ getValue(row, column) }}
      </td>
      <td>
        <button (click)="remove(row.id)">Remove</button>
        <button (click)="update(row)">Edit</button>
      </td>
    </tr>
  </tbody>
</table>
