<div [formGroup]="form">
  <label [attr.for]="question.key">{{ question.label }}</label>
  <div [ngSwitch]="question.controlType">
    <div *ngSwitchCase="'textbox'">
      <input [formControlName]="question.key" [id]="question.key" [type]="question.type">
    </div>

    <div *ngSwitchCase="'dropdown'">
      <select [formControlName]="question.key" [id]="question.key">
        <option *ngFor="let opt of question.options" [value]="opt.id">{{ opt.naziv }}</option>
      </select>
    </div>
  </div>

  <div *ngIf="hasErrors && isTouched" class="errorMessage">
    Error: {{ errorMessage }}
  </div>
</div>
