<form (ngSubmit)="onSubmit()" [formGroup]="form">

  <div *ngFor="let question of questions" class="form-row">

    <div *ngIf="(question.options?.length ?? 0) > 0">
      <label>{{ question.label }}</label>
      <select [formControlName]="question.key">
        <option [ngValue]="null" disabled selected>Select {{ question.label }}</option>
        <option *ngFor="let opt of question.options" [ngValue]="opt.id">
          {{ opt.naziv }}
        </option>
      </select>
    </div>



    <div *ngIf="!question.options || question.options.length === 0">
      <input
        [type]="question.type || 'text'"
        [formControlName]="question.key"
        [placeholder]="question.label"
        [hidden]="question.type === 'hidden'"
      />
    </div>

  </div>

  <div class="form-row">
    <button type="submit" [disabled]="!form.valid">Save</button>
    <button type="button" (click)="resetForm()">Reset</button>
  </div>

</form>
